<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments/header :: header"/>
	</head>
	<body>
		<div th:replace="fragments/navigation :: navbar">Navbar</div>	
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">Home Page</div>
				<div class="panel-body">

					<p>
						Welcome <span th:text="${name}">Name</span>!! <a href="/list-todos">Click here</a> to manage your todo's.
					</p>
					<p>
						This is a basic demo app that uses JDBC, MySQL and an Azure KeyVault for storing secrets.
					</p>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer"/>
	</body>
</html>